* {
    font-family: 'Lucida Sans Unicode';
}

body {
    background-color: lightblue;
}

h1 {
    font-size: 25px;
    text-align: center;
}

h2 {
    font-size: 20px;
    text-align: center;
}

h3 {
    font-size: 15px;
}

ul {
    font-size: 15px;
}

img {
    border: solid 3px red;  
    height: 263px;
    width: 350px;
}

video {
    height: 263px;
    width: 350px;
}

#newsletterinner {
    width: 70%;
    border: solid 3px blue;
    border-radius: 15px;
    background-color: white;
    margin: 0 auto;
    padding: 30px;
}

.sectionbox {
    width: 100%;
    border: dotted 3px green;
}

.content-media {

}
.content-box {
    border: solid 3px red;
}

.inline {
    display: inline-block;
    vertical-align: top;
}

.parent {
    border: solid 3px yellow;
    margin: auto;
    width: 50%;
}

.subtitle {
    text-align: center;
}